<h1>Film entry form</h1>

<!-- film name, film director, price, available (checkbox) -->
<table class="table table-hover">
  <thead>
    <tr>
      <th>Film name</th>
      <th>Film director</th>
      <th>Price</th>
      <th>Available</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="i in nFields">
        <td>
          <input ng-model="FilmEntryCtrl.filmsName[$index]" id="filmName{{$index}}" type="text" class="form-control" placeholder="Film name" />
        </td>
        <td>
          <input ng-model="FilmEntryCtrl.directorsName[$index]" id="filmDirector{{$index}}" type="text" class="form-control" placeholder="Film director" />
        </td>
        <td>
          <input ng-model="FilmEntryCtrl.prices[$index]" id="price{{$index}}" type="text" class="form-control" placeholder="Price" />
        </td>
        <td>
          <div class="checkbox text-center">
           <label>
             <input ng-model="FilmEntryCtrl.availability[$index]" id="available{{$index}}" type="checkbox" />
           </label>
          </div>
        </td>
      </tr>
  </tbody>
</table>

<button class="btn btn-default" ng-click="action = 0">Back</button>
<button class="btn btn-primary" ng-click="FilmEntryCtrl.entryFilms()">Entry films</button>
